@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
	*
	{
		margin: 0px;
		padding: 0px;
	}
	ol, ul, li
	{
		list-style-type: none;
		float: left;
	}
	a
	{
		text-decoration: none;
		color: #333;
	}
	img {
		-webkit-user-drag: none;
	}
	section{
		width: 1280px;
		margin: auto;
	}
	#big_title {
		padding-top: 50px;
	}
	h1 {
		border-bottom: 1px dotted gray;
		font-size: 50px;
		color: #006CFA;
		padding-bottom: 30px;
	}
	.form_wrap {
		width: 1180px;
		height: auto;
		margin: auto;
	}
	.num_wrap {
		padding-top: 30px;
		color: gray;
	}
	.two_wrap {
		font-size: 13px;
		border-bottom: 2px double gray;
		padding-top: 10px;
		display: flex;
		justify-content: space-around;
		width: 1180px;
		height: 40px;
	}
	.two_wrap label{
		padding-top: 7px;
		color: gray;
	}
	.content_num {
		color: gray;
		border-left: none;
		border-top: none;
		border-right: none;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 17px;
	}
	.content_title {
		border-left: none;
		border-top: 4px solid black;
		border-right: none;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 20px;
		text-align: center;
		width: 1180px;
		height: 65px;
	}
	.title_wrap {
		margin-top: 10px;
	}
	.writeday {
		margin-bottom: 7px;
		border: none;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 15px;	
	}
	.travel {
		margin-bottom: 7px;
		border: none;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 15px;
	}
	.txt {
		padding: 10px 10px 10px 10px;
		border: none;
		align-content: center;
		margin-top: 30px;
		width: 950px;
		height: 500px;		
	}
	.content_wrap {
		display: flex;
		justify-content: center;
		width: 1180px;
	}
	input[type=text]:focus{
		outline: none;
	}
	textarea {
		height: 100%;
		resize: none;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 17px;
	}
	textarea:focus {
		outline: none;
	}
	input[name=num] {
		border: none;
	}
	.avg_text {
		margin-bottom: 7px;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 15px;
		border: none;
	}
	.read_count {
		margin-bottom: 7px;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 15px;
		border: none;
	}
	.id_text {
		margin-bottom: 7px;
		border: none;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 15px;
	}
	#file_image_wrap {
		margin: auto;
		width: 500px;
		display: flex;
		justify-content: center;
	}
	#file_image {
		width: 100%;
		height: 400px;
	}
	.custom-btn {
		font-size: 18px;
		font-family: 'Noto Sans KR', sans-serif;
		width: 100px;
		height: 40px;
		padding: 10px 25px;
		border: 2px solid #000;
		font-weight: 500;
		background: transparent;
		cursor: pointer;
		transition: all 0.3s ease;
		position: relative;
		display: inline-block;
	}

	.btn-5 {
		border-radius: 5px;
		background: #006CFA;
		color: #fff;
		line-height: 42px;
		padding: 0;
		border: none;
	}
	.btn-5:hover {
		background: transparent;
		color: #000;
		box-shadow:
		-7px -7px 20px 0px #fff9,
		-4px -4px 5px 0px #fff9,
		7px 7px 20px 0px #0002,
		4px 4px 5px 0px #0001;
	}
	.btn-5:before,
	.btn-5:after{
		content:'';
		position:absolute;
		top:0;
		right:0;
		height:2px;
		width:0;
		background: #006CFA;
		transition:400ms ease all;
	}
	.btn-5:after{
		right:inherit;
		top:inherit;
		left:0;
		bottom:0;
	}
	.btn-5:hover:before,
	.btn-5:hover:after{
		width:100%;
		transition:800ms ease all;
	}
	#recommend_wrap {
		margin-top: 30px;
		border: 1px solid black;
		width: 1180px;
		height: 200px;
		display: flex;
		justify-content: center;
	}
	
	#sucess_bt {
		text-align: right;
		margin-top: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid black;
	}
	#next_befor_wrap {
		margin-top: 30px;
	}
	#befor_review {
		display: flex;
		justify-content: initial;
		margin-top: 60px;
	}
	#next_review {
		display: flex;
		justify-content: initial;
		margin-top: 30px;
		margin-bottom: 150px;
	}
	#befor_review div {
		padding-top: 10px;
		text-align: center;
		width: 100px;
		height: 30px;
		background-color: #E2E2E2;
	}
	#next_review div {
		padding-top: 10px;
		text-align: center;
		width: 100px;
		height: 30px;
		background-color: #E2E2E2;
	}
	.before_next {
		border-bottom: 1px dotted black;
		border-left: none;
		border-top: none;
		border-right: none;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 16px;
		width: 500px;
		margin-left: 30px;
	}
	
	
	